.content {
    font-size: 12px !important;
    font-family: 'IBM Plex Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.none {
    text-decoration: none;
    color: darkblue;
}

.label {
    font-weight: bold;
}