img {
    max-width: 100%;
}

.hd_style {
    position: sticky;
    width: 7%;
    margin-left: 95%;
    margin-top: -90%;
}

.menuLocation {
    display: grid;
    place-items: center;
}

.menuLocation10 {
    height: 40vmax;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.container {
    margin: 20px;
}